body{
    background: black;
    font-family: 'Indie Flower', cursive;
}

.name {
    flex-direction: row;
    color: rgb(0, 0, 0);
    font-size: 40px;
    width: 200;
    background-color: rgb(101, 198, 243);
    margin: 5px;
    text-align: center;

  }

.name:hover {
    background-color: white;
}

  .container
  {
    display: flex;
    flex-wrap: nowrap;

  }